@import "./../base/_base.scss";

.btn-cta {
  background: #084887;
  border-radius: 10px;
  color: #ffffff;
  padding: 0;
  padding: 6px 15px;
  margin-right: 0;
  border-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
  @include phone {
    font-size: 1.125rem;
    padding: 6px 15px;
  }
}
