@import "./../base/_base.scss";

.footerComponent {
  background-color: $neutral-color-1000;
  position: relative;
  z-index: 1000;

  section {
    @include width;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    align-items: center;

    @include tablet {
      max-width: $container-tablet;
      grid-template-columns: repeat(3, auto);
      gap: 1.5rem;
    }
    @include phone {
      grid-template-columns: 100%;
      max-width: $container-phone;
      gap: 1rem;
      padding: 4rem 0;
    }
    aside {
      @include phone {
        flex-direction: column;
      }
    }
    .logoSection {
      width: 10rem;

      @include phone {
        width: 9rem;
      }

      @include tablet {
        width: 9.5rem;
      }

      img {
        width: 100%;
      }
    }

    .socials {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 1.5rem;

      a {
        line-height: 0;
      }

      @include tablet {
        gap: 1rem;
      }

      @include phone {
        justify-content: center;
        gap: 1rem;
      }
    }

    .ubication {
      display: flex;
      flex-direction: row;
      display: none;
      justify-content: space-between;

      @include tablet {
        display: block;
        line-height: 1.2rem;
      }
      @include phone {
        display: block;
      }

      article {
        color: $neutral-color-0;

        p {
          font-size: 1rem;
          font-weight: 400;
        }

        a {
          &,
          &:visited,
          &:active {
            color: $neutral-color-0;
            display: block;
            text-decoration: none;
          }
        }

        @include phone {
          padding-right: 0;
        }
        @include tablet {
          padding-bottom: 16px;
          padding-right: 0;
          &:last-child {
            display: flex;
            flex-direction: column;
          }
        }
        &:first-child {
          width: 36%;
          @include phone {
            width: 100%;
          }
          @include tablet {
            width: 100%;
          }
        }

        strong {
          font-weight: bold;
        }
      }
    }
  }
}
