@import "./../base/_base.scss";

.formComponent {
  @include width;
  margin-top: 120px;

  @include tablet {
  }
  @include phone {
    margin-top: 250px;
  }

  section {
    max-width: $container-form;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      max-width: $container-tablet;
      flex-direction: column-reverse;
    }
    @include phone {
      max-width: $container-phone;
      flex-direction: column;
    }
    .titleSection {
      @include phone {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
    h2 {
      @include phone {
        font-size: 36px !important;
        line-height: 38px !important;
      }
    }
    .talkto {
      margin-top: 82px;
      background: #f9f7f8;
      border-radius: 10px;
      padding: 32px 56px;
      margin-bottom: 56px;
      display: flex;
      flex-direction: row;
      position: relative;

      @include phone {
        flex-direction: column;
        padding: 32px 40px 32px;
        gap: 1rem;
      }

      @include tablet {
        margin-top: 1.5rem;
      }

      aside {
        width: 45%;
        text-align: left;
        @include phone {
          width: 100%;
        }

        .text {
          position: relative;
          top: 160px;

          @include phone {
            text-align: center;
            top: 0;
          }
          h2 {
            font-size: var(--size-6);
            line-height: 50px;
            margin-bottom: 8px;

            span {
              text-transform: uppercase;
            }

            @include tablet {
              font-size: var(--size-4);
              line-height: 2rem;
            }
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px !important;
            color: #031d44;

            @include phone {
              text-align: left;
            }
          }
          .socials {
            margin-top: 67px;
            width: 150px;
            display: flex;
            justify-content: space-between;
            @include phone {
              display: none;
            }
          }
        }
        &:last-child {
          width: 55%;
          padding-left: 65px;

          @include phone {
            width: 100%;
            padding-left: 0px;
            top: -80px;
          }
        }
      }
    }
  }
}

.ilusContact {
  position: absolute;
  top: -150px;

  @include phone {
    top: -45%;
    left: 0;
  }

  @include tablet {
    width: 40%;
    top: -5rem;
    left: 2rem;
  }
}
