@import "./../base/_base.scss";

.formComponent {
  @include width;
  margin-top: 4rem;

  @include tablet {
  }
  @include phone {
    margin-top: 250px;
  }

  section {
    max-width: $container-form;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      max-width: $container-tablet;
      flex-direction: column-reverse;
    }
    @include phone {
      max-width: $container-phone;
      flex-direction: column;
    }
    .titleSection {
      @include phone {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
    h2 {
      @include phone {
        font-size: 36px !important;
        line-height: 38px !important;
      }
    }
    .talkto {
      margin-top: 82px;
      background: #f9f7f8;
      border-radius: 10px;
      padding: 32px 56px;
      margin-bottom: 56px;
      display: grid;

      align-items: flex-end;
      grid-template-columns: 60% 40%;
      position: relative;

      @include phone {
        grid-template-columns: 100%;
        padding: 32px 40px 32px;
        gap: 1rem;
      }

      @include tablet {
        margin-top: 1.5rem;
        gap: 1rem;
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
      }

      aside {
        width: 100%;
        text-align: left;
        @include phone {
          width: 100%;
        }

        .text {
          position: relative;
          top: -4rem;

          @include phone {
            text-align: center;
            top: 0;
          }

          @include tablet {
            top: -3.4rem;
          }

          h2 {
            font-size: var(--size-6);
            line-height: 50px;
            margin-bottom: 8px;

            span {
              text-transform: uppercase;
            }

            @include tablet {
              font-size: var(--size-4);
              line-height: 2rem;
            }
          }
          p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 21px !important;
            color: #031d44;
            width: 80%;

            @include phone {
              width: 100%;
              text-align: center;
            }

            @include tablet {
              width: 90%;
            }
          }
          .socials {
            margin-top: 67px;
            width: 150px;
            display: flex;
            justify-content: space-between;
            @include phone {
              display: none;
            }
          }
        }
        &:last-child {
          @include phone {
            padding-left: 0px;
            top: -80px;
          }

          form {
            @include phone {
              gap: 0.7rem 1rem;
            }

            .form__group {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(4) {
                @include phone {
                  grid-column: 1 / -1;
                }
              }

              &:nth-child(3) {
                grid-column: 1 / -1;
              }

              &:nth-child(5) {
                option {
                  text-transform: capitalize;
                }

                @include phone {
                  grid-column: 1 / -1;
                }
              }

              &:nth-child(6),
              &:nth-child(7) {
                grid-column: 1 / -1;
              }

              &:nth-child(8) {
                display: grid;
                grid-template-columns: 50% 50%;

                @include tablet {
                  grid-template-columns: 100%;
                }

                div {
                  align-items: center;
                  display: flex;
                  margin-left: 0.3rem;

                  label {
                    text-transform: capitalize;
                  }
                }

                &,
                label {
                  grid-column: 1 / -1;
                }

                @include phone {
                  grid-template-columns: 100%;
                }
              }
            }
            button {
              grid-column: 2 / -1;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.ilusContact {
  position: absolute;
  top: -0rem;

  @include phone {
    top: -30%;
    left: 0;
  }

  @include tablet {
    width: 45%;
    top: 0;
    left: 1rem;
  }
}

.disabled {
  label {
    color: #c4c4c4;
  }
}
