@import "./../base/_base.scss";
.plansComponent {
  @include width;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
  margin-top: 82px;

  @include tablet {
    width: $container-tablet;
    flex-direction: column;
    margin-top: 140px;
  }
  @include phone {
    width: $container-phone;
    flex-direction: column;
  }
}

.pricing {
  flex-wrap: wrap;
  gap: 3rem 2.5rem;
  justify-content: center;
  margin-top: 4.5rem;
  width: 100%;

  @include phone {
    gap: 4rem;
  }

  @include tablet {
    gap: 4rem;
  }
}

.card {
  background: #f2f2f2;
  width: 30%;
  min-width: 400px;
  border-radius: 10px;
  text-align: center;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @include phone {
    gap: 0;
    min-width: $container-phone;
  }
  h2 {
    font-style: italic;
    color: $neutral-color-1000;
    @include phone {
      font-size: $size * 3;
    }
  }
  p {
    font-size: $size * 2+2;
    font-style: italic;
    line-height: 32px !important;
    margin-top: 12px;
    color: $neutral-color-1000;
  }
}

.list {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .item {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;

    @include phone {
      gap: 0.4rem;
    }

    span {
      font-size: 1.1rem;
      font-style: italic;
      font-weight: 400;
      color: $neutral-color-1000;

      &.bold {
        font-weight: bold;
      }

      @include phone {
        font-size: 0.9rem;
      }

      &:first-child {
        align-items: center;
        display: flex;
        width: 1rem;

        @include phone {
          width: 0.8rem;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.price {
  background: #ffffff;
  border-radius: 24px;
  padding-top: 24px;
  padding-bottom: 0px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 50px;

  span {
    color: #031d44;
    font-size: $size * 3.5;
    font-weight: 700;
  }

  p {
    top: -20px;
    position: relative;
  }
  .none {
    color: #fff;
  }
}
