@import "../base/base";

.testimonial__card {
  list-style: none;
  display: flex;
  width: 380px;
  padding: 1rem;
  border: 1px solid #000;

  &_content {
    width: 70%;
    img {
      width: 1.3rem;
      object-fit: contain;
    }
    p {
      font-size: 1rem;
      font-weight: 100;
    }
  }

  &_profile {
    width: 30%;
    &-picture {
      width: 70%;
      object-fit: contain;
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
