@import "./../base/_base.scss";

.trialComponent {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    background-size: cover;
    @include phone {
      object-fit: fill;
    }
  }
  .contentTrial {
    @include width;
    z-index: 1000;
    position: absolute;
    text-align: center;

    @include phone {
      max-width: $container-phone;
    }

    a {
      text-decoration: none;
    }
  }
}
